{% extends 'layout.html' %}
{% block title %}Админ-панель{% endblock %}

{% block content %}
<h1>Админ-панель</h1>
<p>Добро пожаловать, {{ user.username }}!</p>
<p>Здесь вы можете управлять сервером и получать доступ к расширенным функциям.</p>
<ul>
    <li><a href="/dj">DJ-панель</a> – полный контроль музыкального плеера</li>
    <li><a href="/music">Музыка</a> – поиск и управление воспроизведением</li>
    <!-- Можете добавить дополнительные административные разделы здесь -->
</ul>
{% endblock %}